[Desktop Entry]
Name=Tensaku
GenericName=Modern Screenshot Annotation.
TryExec=tensaku
Exec=tensaku -f %f
Terminal=false
NoDisplay=true
Type=Application
Keywords=wayland;snapshot;annotation;editing;
Icon=tensaku
Categories=Utility;Graphics;
StartupNotify=true
MimeType=image/png;image/jpeg;
StartupWMClass=dev.tensaku.Tensaku
