.root {
    min-width: 65rem;
    min-height: 10rem;
}
.toolbar {
    color: @headerbar_fg_color;
    background: @headerbar_bg_color;
}
.toast {
    color: #f9f9f9;
    background-color: #00000099;
    border-radius: 6px;
    margin-top: 50px;
}
.toolbar-bottom { border-radius: 6px 6px 0px 0px; }
.toolbar-top { border-radius: 0px 0px 6px 6px; }
